<a href="https://colab.research.google.com/github/shoaibswe/Data-Analysis-P-I-1.3-Feature-Selection/blob/main/Feature_Selection_Encoding_and_Dummifying_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive/')
url=('/content/drive/MyDrive/DAP/P1/processed_data.csv')
td = pd.read_csv(url)

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [56]:
# lets gain info first
from sklearn.feature_selection import mutual_info_classif

In [57]:
#Keeping out independent veriable
IndependentFeature = td['Price']
IndependentFeature.head(2)

0    3897
1    7662
Name: Price, dtype: int64

In [59]:
## We need our dependent and independent data
DependentFeatures = td.drop('Price',axis=1) #coz its not dependent,and its important
DependentFeatures.head(1)

   Unnamed: 0 Airline  ... Arrival_Time_minute duration_hr
0           0  IndiGo  ...                  10           2

[1 rows x 16 columns]

In [60]:
td.drop('Unnamed: 0',axis=1,inplace=True)

In [61]:

td['Route1']=td['Route'].str.split('→').str[0]
td['Route2']=td['Route'].str.split('→').str[1]
td['Route3']=td['Route'].str.split('→').str[2]
td['Route4']=td['Route'].str.split('→').str[3]
td['Route5']=td['Route'].str.split('→').str[4]

td.drop('Route',axis=1,inplace=True)

In [62]:
td.head(1)

  Airline Date_of_Journey    Source Destination  ... Route2 Route3  Route4  Route5
0  IndiGo      2019-03-24  Banglore   New Delhi  ...    DEL    NaN     NaN     NaN

[1 rows x 20 columns]

In [63]:
#lets dummify the destination and Airline a I need to keep the extracted feature
Destination = pd.get_dummies(td['Destination'],drop_first=True)

td['Cochin']=Destination['Cochin']
td['Hyderabad']=Destination['Hyderabad']
td['New Delhi']=Destination['New Delhi']

In [64]:
Airline = pd.get_dummies(td['Airline'],drop_first=True)

td['Air India']=Airline['Air India']
td['GoAir']=Airline['GoAir']
td['IndiGo']=Airline['IndiGo']
td['Jet Airways']=Airline['Jet Airways']
td['Jet Airways Business']=Airline['Jet Airways Business']
td['Multiple carriers']=Airline['Multiple carriers']
td['Multiple carriers Premium economy']=Airline['Multiple carriers Premium economy']
td['SpiceJet']=Airline['SpiceJet']
td['Vistara']=Airline['Vistara']
td['Vistara Premium economy']=Airline['Vistara Premium economy']
td['IndiGo']=Airline['IndiGo']

td.drop('Airline',axis=1,inplace=True)

In [65]:
# ROUTE IS STILL CATEGORICAL, lets encode
from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()

In [66]:
for i in ['Route1',	'Route2',	'Route3',	'Route4',	'Route5',]:
  td[i]=encode.fit_transform(td[i])

TypeError: ignored

In [67]:
#Lets clean null values
td.dropna(subset=['Route1',	'Route2',	'Route3',	'Route4',	'Route5'],inplace=True)

In [69]:
# again execute to transform adding other categoricals with route

for i in ['Route1',	'Route2',	'Route3',	'Route4',	'Route5', 'Source','Destination','Total_Stops','Additional_Info',]:
  td[i]=encode.fit_transform(td[i])

In [70]:
td.head(1)

    Date_of_Journey  Source  ...  Vistara  Vistara Premium economy
402      2019-06-15       1  ...        0                        0

[1 rows x 32 columns]

In [72]:
# changing data type of column to date
td['Date_of_Journey']=pd.to_datetime(td['Date_of_Journey'])
#date of journey is date type, now changing to date and time saperately in new columns
td['journey_year']=td['Date_of_Journey'].dt.year
td['journey_month']=td['Date_of_Journey'].dt.month
td['journey_day']=td['Date_of_Journey'].dt.day

In [73]:
td.drop('Date_of_Journey',axis=1,inplace=True)

In [74]:
td.head(2)

     Source  Destination  ...  Vistara  Vistara Premium economy
402       1            1  ...        0                        0
919       2            0  ...        0                        0

[2 rows x 31 columns]

In [75]:
#Keeping out independent and dependent veriable
IndependentFeature = td['Price']
DependentFeatures = td.drop('Price',axis=1)

In [79]:
# lets gain info first using scikit learn
from sklearn.feature_selection import mutual_info_classif
x=mutual_info_classif(DependentFeatures,IndependentFeature)
x

array([2.58702637, 2.20759599, 0.        , 2.56141972, 2.42243912,
       1.01110715, 0.94332558, 1.37893427, 2.2112085 , 1.74921554,
       1.50293349, 1.34345783, 0.8952994 , 1.81311922, 2.66271615,
       1.08425359, 2.55726446, 2.6078597 , 0.        , 0.17405032,
       2.59026628, 0.        , 0.        , 0.        , 0.        ,
       0.78180703, 0.        , 0.        , 0.        , 0.11047495])

In [85]:
#these were the importance with respect to the target variable
#Lets creat a new dataframe with respect to the priority as upper values

imp = pd.DataFrame(x,index=DependentFeatures.columns)
imp

                                          0
Source                             2.587026
Destination                        2.207596
Total_Stops                        0.000000
Additional_Info                    2.561420
journey_year                       2.422439
journey_month                      1.011107
journey_day                        0.943326
Dep_Time_hour                      1.378934
Dep_Time_minute                    2.211209
Arrival_Time_hour                  1.749216
Arrival_Time_minute                1.502933
duration_hr                        1.343458
Route1                             0.895299
Route2                             1.813119
Route3                             2.662716
Route4                             1.084254
Route5                             2.557264
Cochin                             2.607860
Hyderabad                          0.000000
New Delhi                          0.174050
Air India                          2.590266
GoAir                              0.000000
IndiGo                             0.000000
Jet Airways                        0.000000
Jet Airways Business               0.000000
Multiple carriers                  0.781807
Multiple carriers Premium economy  0.000000
SpiceJet                           0.000000
Vistara                            0.000000
Vistara Premium economy            0.110475

In [87]:
#lets rename the column and sort on Importance
imp.columns=['important_cols']
imp.sort_values(by='important_cols',ascending=False)

                                   important_cols
Route3                                   2.662716
Cochin                                   2.607860
Air India                                2.590266
Source                                   2.587026
Additional_Info                          2.561420
Route5                                   2.557264
journey_year                             2.422439
Dep_Time_minute                          2.211209
Destination                              2.207596
Route2                                   1.813119
Arrival_Time_hour                        1.749216
Arrival_Time_minute                      1.502933
Dep_Time_hour                            1.378934
duration_hr                              1.343458
Route4                                   1.084254
journey_month                            1.011107
journey_day                              0.943326
Route1                                   0.895299
Multiple carriers                        0.781807
New Delhi                                0.174050
Vistara Premium economy                  0.110475
Hyderabad                                0.000000
Total_Stops                              0.000000
GoAir                                    0.000000
IndiGo                                   0.000000
Jet Airways                              0.000000
Jet Airways Business                     0.000000
Multiple carriers Premium economy        0.000000
SpiceJet                                 0.000000
Vistara                                  0.000000

In [89]:
# So we get all the important columns on top and less importants are in below, we also can skil un important columns if we want

In [ ]:
from google.colab import files
files.download('td.csv')